aiobotocore==2.15.1
aiohttp==3.9.3
aioitertools==0.11.0
aiolimiter==1.1.0
aiosignal==1.3.1
aiosqlite==0.20.0
alembic==1.13.1
annotated-types==0.6.0
anthropic==0.23.1
anyio==4.3.0
attrs==23.2.0
boto3==1.35.23
botocore==1.35.23
certifi==2024.2.2
charset-normalizer==3.3.2
distro==1.9.0
filelock==3.13.3
frozenlist==1.4.1
fsspec==2024.3.1
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.22.2
idna==3.6
jmespath==1.0.1
Mako==1.3.2
MarkupSafe==2.1.5
multidict==6.0.5
openai==1.14.0
packaging==24.0
pydantic==2.6.4
pydantic_core==2.16.3
python-dateutil==2.9.0.post0
PyYAML==6.0.1
ratelimit==2.2.1
regex==2023.12.25
requests==2.31.0
s3transfer==0.10.2
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.28
tiktoken==0.6.0
tokenizers==0.15.2
tqdm==4.66.2
typing_extensions==4.10.0
urllib3==2.0.7
wrapt==1.16.0
yarl==1.9.4
